/* Start General styling */

body>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* End General styling */

/* Start Header */

/*.header {
    text-align: center;
}*/

/* End Header */

/* Start Game-info */

.game-info {
    width: 750px;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: solid black 2px;
}

/* End Game-info */

/* Start Mole-area */

.mole-area {
    width: 750px;
    height: 750px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    background-color: blueviolet;
    border: solid black 2px;
}

/* End Mole-area */

/* Start Control-area */

/* End Control-area */