/* Start General styling */

body {
    background: url(../images/background-field.jpg) no-repeat center center;
}

body>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* End General styling */

/* Start Header */


/* End Header */

/* Start Game-info */

.game-info {
    min-width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-info>p {
    text-transform: uppercase;
    font-size: 150%;
    font-weight: bold;
}

/* End Game-info */

/* Start Mole-area */

.mole-area {
    /*width: 25%;*/
    min-width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: #d9ce3b;
    padding: 0px 20px 30px;
    border-radius: 20px;
    opacity: 0.9;
}

.box {
    width: 33%;
    height: 33%;
    background-image: url(../images/pileofdirt.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.box::before {
    content: "";
    /* No content is added but the element still exists in the DOM, needed to add mole background in .box.mole::before */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box.mole::before {
    background-image: url(../images/molefigure.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
}

/* End Mole-area */

/* Start Control-area */

.control-area {
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 40%;
    height: 100px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 150%;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #d9ce3b;
}

.hidden-spacer {
    width: 20%;
    height: 100px;
}

#how-to-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup-content {
    text-align: center;
    background-color: #FDF9EC;
    max-width: 500px;
    font-size: 120%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #4A4737;
}

#popup-close {
    width: 150px;
    height: 50px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 120%;
    border-radius: 10px;
}

/* End Control-area */

/* Start gameOver score popup */

.score-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.score-content {
    text-align: center;
    background-color: #FDF9EC;
    max-width: 600px;
    font-size: 150%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #4A4737;
    z-index: 10;
}

.overlay {
    position: fixed;
    pointer-events: auto;
    background-color: #4A4737;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}

#score-popup div {
    display: flex;
    justify-content: space-between;
}

/* End gameOver score popup */