@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&display=swap');

/* Start General styling */

.general-styling {
    background: url(../images/background-field.jpg) no-repeat center center;
    font-family: "Alkatra", sans-serif;
}

body>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* End General styling */

/* Start Header */

.header {
    font-size: 450%;
    letter-spacing: 2px;
    font-family: "Delicious Handrawn", sans-serif;
    margin: 20px 0px 0px;
    text-transform: uppercase;
}

/* End Header */

/* Start Game-info */

.game-info {
    min-width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-info>p {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: bold;
}

/* End Game-info */

/* Start Mole-area */

.mole-area {
    min-width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: #d9ce3b;
    padding: 0px 20px 30px;
    border-radius: 20px;
    opacity: 0.9;
    -webkit-tap-highlight-color: transparent;
}

.box {
    width: 33%;
    height: 33%;
    background-image: url(../images/pileofdirt.png);
    background-size: 160px 50px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

/* No content is added but the element still exists in the DOM, needed to add mole background in .box.mole::before */
.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box.mole::before {
    background-image: url(../images/molefigure.png);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center;
    z-index: -1;
}

.box.mole.hit::before {
    background-image: url(../images/molefigure.png);
    transform: rotate(-40deg);
}

/* End Mole-area */

/* Start difficulty area */

.level-difficulty {
    min-width: 300px;
    height: 30px;
    text-align: center;
    background-color: #d9ce3b;
    padding: 0px 20px 10px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.9;
    -webkit-tap-highlight-color: transparent;
}

.difficulty {
    font-size: 120%;
    font-family: "Alkatra", sans-serif;
}

#difficulty {
    cursor: pointer;
    border-radius: 10px;
    background-color: #F2D49B;
}

#difficulty:hover {
    background-color: #f2f2f2;
}

/* End difficulty area */

/* Start Control-area */

.control-area {
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 40%;
    height: 100px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 150%;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #d9ce3b;
    font-family: "Alkatra", sans-serif;
    background-color: #F2D49B;
    cursor: pointer;
}

button:hover {
    background-color: #f2f2f2;
}

.hidden-spacer {
    width: 20%;
    height: 100px;
}

#how-to-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup-content {
    text-align: center;
    background-color: #FDF9EC;
    max-width: 500px;
    font-size: 120%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #4A4737;
}

#popup-close {
    width: 150px;
    height: 50px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 120%;
    border-radius: 10px;
    font-family: "Alkatra", sans-serif;
    background-color: #F2D49B;
    cursor: pointer;
}

#popup-close:hover {
    background-color: #f2f2f2;
}

/* End Control-area */

/* Start gameOver score popup */

.score-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.score-content {
    text-align: center;
    background-color: #FDF9EC;
    max-width: 500px;
    font-size: 120%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #4A4737;
    z-index: 10;
}

.overlay {
    position: fixed;
    pointer-events: auto;
    background-color: #4A4737;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}

.green {
    color: green;
    font-size: 150%;
}

.red {
    color: red;
    font-size: 150%;
}

.score-content>div {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#play-again,
#close-score {
    width: 150px;
    height: 50px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 120%;
    border-radius: 10px;
    font-family: "Alkatra", sans-serif;
    background-color: #F2D49B;
    cursor: pointer;
}

#play-again:hover,
#close-score:hover {
    background-color: #f2f2f2;
}

/* End gameOver score popup */

/* Start of 404 page */

.error-background {
    background-color: #F2D49B;
    font-family: "Alkatra", sans-serif;
}

.error-page {
    background-color: #d9ce3b;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 20px;
    opacity: 0.9;
}

.error-button {
    width: 100px;
    height: 40px;
    margin: 10px 0px;
    text-align: center;
    border: black 1px solid;
    font-weight: bold;
    font-size: 150%;
    border-radius: 10px;
    font-family: "Alkatra", sans-serif;
    background-color: #F2D49B;
    cursor: pointer;
}

.error-button:hover {
    background-color: #f2f2f2;
}

/* End of 404 page */

/* Media queries */

/* For screens up to 640px wide */
@media screen and (max-width: 640px) {
    .header {
        font-size: 350%;
    }

    .game-info {
        width: 90%;
        min-width: 0px;
    }

    .game-info>p {
        font-size: 100%;
        background-color: #d9ce3b;
        padding: 5px;
        border-radius: 5px;
    }

    .mole-area {
        width: 400px;
        min-width: 0px;
        height: 400px;
    }

    .box {
        background-size: 120px 35px;
    }

    .box.mole::before {
        background-size: 100px;
        background-position: bottom;
    }

    .difficulty {
        font-size: 100%;
    }

    .control-area {
        width: 80%;
        min-width: 0px;
        justify-content: space-around;
    }

    .button {
        font-size: 120%;
        height: 70px;
        width: 150px;
    }

    .hidden-spacer {
        width: 0px;
        height: 70px;
    }

    #popup-content {
        max-width: 80%;
        font-size: 100%;
    }

    .score-content {
        max-width: 70%;
        font-size: 100%;
        min-width: 400px;
    }
}

/* For screens up to 450px wide */
@media screen and (max-width: 450px) {
    .header {
        font-size: 250%;
        margin: 20px 0px;
    }

    .game-info {
        width: 100%;
        height: 50px;
    }

    .mole-area {
        width: 90%;
        height: 300px;
    }

    .box {
        background-size: 100% 30%;
    }

    .box.mole::before {
        background-size: 90px;
    }

    .level-difficulty {
        min-width: 60%;
    }

    .control-area {
        width: 100%;
    }

    .button {
        font-size: 100%;
        height: 50px;
        width: 120px;
    }

    .hidden-spacer {
        height: 50px;
    }

    #popup-content {
        max-width: 90%;
    }

    #popup-close {
        width: 120px;
        font-size: 100%;
    }

    .score-content {
        max-width: 90%;
        min-width: 0px;
    }

    #play-again,
    #close-score {
        width: 120px;
        font-size: 100%;
    }
}